<!--<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>-->
<% if current_user && user_signed_in? %>
    <%= link_to 'サインアウト' , destroy_user_session_path, method: :delete %>
<% else %>
    <%= link_to 'サインイン' , new_user_session_path %>
    <%= link_to 'ユーザ登録' , new_user_registration_path %>
<% end %>
<hr>
<h1>HOME PAGE</h1>